{% extends "base.html" %}
{% load i18n %}

{% block content  %}
	<h1>{% trans 'РЕГИСТРАЦИЯ' %}</h1>

	{% blocktrans %}
	Указанные персональные данные (ФИО, должность и место работы, № мобильного телефона, адрес электронной почты)
	являются общедоступными, могут обрабатываться на сайте конференции для использования в материалах конференции
	(программе секционных выступлений, сборнике тезисов, уведомлениях Оргкомитета).
	{% endblocktrans %}

	<form action="" method="post" class="inline">
  	{% include "form_reg.html" %}
	</form>
{% endblock %}
